ion-item {
    --background: #f5f5f5;
    border-radius: 8px;
    margin: 0 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-thumbnail {
    --size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.product-controls {
    display: flex;
    align-items: center;

    ion-button {
        margin: 0 5px;
        --padding-start: 0;
        --padding-end: 0;
    }

    ion-text {
        padding: 0 10px;
    }
}

#nome {
    background-color: rgba(131, 113, 99, 0.85);
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    display: block;
    margin-top: 20px;
}
