<ion-content>



  <ion-row>
    <ion-col id="nome">Meu Carrinho</ion-col>
  </ion-row>


  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button class="total" *ngIf="temItensNoCarrinho()" >
      <h2 class="total-carrinho"  *ngIf="getItensCarrinho().length > 0" expand="full">Total: R$ {{ getTotalCarrinho() | number: '1.2-2'
        }}</h2>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <!-- Botão Finalizar Compra -->
    <ion-button class="finalizar" *ngIf="temItensNoCarrinho()" expand="full" (click)="irParaPagamento()">
        Finalizar Compra
    </ion-button>
  </ion-fab>


  <!-- Mensagem e botão para quando o carrinho estiver vazio -->
  <ion-row *ngIf="!temItensNoCarrinho()">
    <ion-col class="carrinho-vazio">
      <p>Você não tem itens no carrinho, vamos mudar isso!?</p>
      <ion-button expand="full" color="primary" (click)="irParaCompras()">
        Ir as Compras
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="temItensNoCarrinho()">
    <ion-item *ngFor="let item of getItensCarrinho(); let i = index">
      <ion-thumbnail slot="start"> 
        <img [src]="item.produto.imagem">
      </ion-thumbnail>
      <ion-label class="produto-info">
        <h2>{{ item.produto.nome }}</h2>
        <br>
        <p class="quantidade">
          <ion-button class="custom-button" (click)="diminuirQuantidade(i)" fill="clear">
            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
          </ion-button>
          {{ item.quantidade }}
          <ion-button class="custom-button" (click)="aumentarQuantidade(i)" fill="clear">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </p>
        <p class="preco">R$ {{ item.produto.preco | number: '1.2-2' }}</p>
      </ion-label>
      <ion-button class="button-lixeira" slot="end" (click)="removerDoCarrinho(i)" fill="clear">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>



</ion-content>