<!-- Título da Página -->

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.avatarUrl || 'assets/default-avatar.png'">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.email }}</h2>
        <p>{{ user.email }}</p>
        <p *ngIf="isUserLoggedIn">{{ senhaCriptografada }}</p>
      </ion-label>      
    </ion-item>
    <ion-item lines="none" detail (click)="irParaCarrinho()">
      <ion-icon name="cart" slot="start"></ion-icon>
      Meu carrinho de compras
    </ion-item>
    <ion-item lines="none" (click)="sair()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      Sair
    </ion-item>
  </ion-list>
  <div class="background-image-container"></div>
</ion-content>
