.perfil{
    --ion-background-color: #201E1E;
    margin-top: 80px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0 15px; /* Adicionei um espaçamento lateral para a frase ficar mais à esquerda */
    height: 100%; /* Adapte conforme necessário */
  }
  
  .logo-text {
    color: white;
    
    font-size: small;
    
  }
  
  .logo {
    max-width: 100px;
    margin-right: auto;
  }
  
  ion-icon {
    color: white; /* Cor do ícone, adaptar conforme necessário */
  }

.background-image-container {
    background: url('/assets/apresentacao/loja_masculina.png') no-repeat center center / cover;
    border-radius: 15px;
    width: 90%;
    height: 550px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-item {
    color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 111%;
    --background: #373636;
    /* Cor de fundo semi-transparente */
    /* Cor de fundo do item */
    --border-radius: 8px;
    /* Cantos arredondados */
    --margin-bottom: 10px;
    /* Espaçamento entre os itens */
    --padding-start: 20px;
    /* Espaçamento interno à esquerda */
    --padding-end: 20px;
    /* Espaçamento interno à direita */
    --inner-padding-end: 20px;
    /* Espaçamento interno à direita dentro do item */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra do item */
    display: flex;
    /* Flexbox para alinhar os elementos internos */
    align-items: center;
    /* Centraliza verticalmente o conteúdo do item */
}

ion-avatar {
    --ion-avatar-width: 80px;
    /* Largura do avatar */
    --ion-avatar-height: 80px;
    /* Altura do avatar */
    margin-right: 15px;
    /* Espaçamento à direita do avatar */
}

ion-label h2 {
    font-size: 1.2em;
    /* Tamanho da fonte do nome do usuário */
    margin-bottom: 5px;
    /* Espaçamento abaixo do nome */
}

ion-label p {
    font-size: 1em;
    /* Tamanho da fonte dos parágrafos */
    color: rgb(197, 197, 197);
    /* Cor dos parágrafos */
}

ion-icon {
    --color: var(--ion-color-primary);
    /* Cor dos ícones */
    margin-right: 8px;
    /* Espaçamento à direita dos ícones */
}

