<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Login</ion-button>
  </form>

  <ion-button expand="full" color="secondary" (click)="loginWithGoogle()">
    <img src="assets/logo/google-logo.png" alt="Google Logo" class="google-logo">
    Login com Google
  </ion-button>
  
  <!-- Link para criar conta -->
    <p class="create-account-text">
      Não possui uma conta? <a (click)="navigateToRegister()">Clique aqui!</a>
    </p>

    <ion-button (click)="voltarParaHome()">Voltar</ion-button>
</ion-content>

