ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  ion-item {
    margin-bottom: 20px;
  }

  ion-button {
    margin-top: 10px;
  }
  