<ion-content>
  <!-- Inserir o ícone de login aqui -->

  <ion-content>

    <swiper-container class="mySwiper" [autoplay]="{delay: 3000}">

        <swiper-slide><img src="assets/capa.png" alt="AgendaLocal"></swiper-slide>
        <swiper-slide><a href="/tabs/tab2"><img src="assets/swiper/swiper2.png" alt="Algum de nossos produtos"></a></swiper-slide>
        <swiper-slide><a href="/premium-modal"><img src="assets/swiper/swiper3.png" alt="Algum de nossos produtos"></a></swiper-slide>
    </swiper-container>

    <h2 style="font-size: medium; margin-left: 19px;">Eventos em Destaque</h2>

    <swiper-container pagination="true">

    <swiper-slide >
      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto7.png" />
          <ion-card-header>
            <ion-card-title>McCartney</ion-card-title>
            <ion-card-subtitle>Show</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto29.png" />
          <ion-card-header>
            <ion-card-title>Carna Rildy</ion-card-title>
            <ion-card-subtitle>Festival</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </swiper-slide>


    <swiper-slide >
      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto3.png" />
          <ion-card-header>
            <ion-card-title>Ivete Sangalo</ion-card-title>
            <ion-card-subtitle>Show</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto2.png"  />
          <ion-card-header>
            <ion-card-title>Ed Sheeran</ion-card-title>
            <ion-card-subtitle>Show</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </swiper-slide>


    <swiper-slide >
      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto1.png" />
          <ion-card-header>
            <ion-card-title>Imagine Dragons</ion-card-title>
            <ion-card-subtitle>Show</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <img src="assets/produtos/produto27.png" />
          <ion-card-header>
            <ion-card-title>Privilege</ion-card-title>
            <ion-card-subtitle>Festival</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </swiper-slide>

   
</swiper-container>
  </ion-content>