/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #111010;
  }

  ion-row{
    margin-top: 80px;
    background-color: #201E1E;
}

.barra{
  background-color: #B05DFF;
  height: 2px;
}

ion-content{
  --ion-background-color: #201E1E;
}

 ion-input.custom.ios .input-bottom .helper-text,
 ion-input.custom.ios .input-bottom .counter,
 ion-input.custom.md .input-bottom .helper-text,
 ion-input.custom.md .input-bottom .counter {
   color: var(--ion-color-primary);
 }
