<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()">

      <ion-input type="email" [(ngModel)]="user.email" name="email"
      aria-label="Custom input"
      placeholder="Email"
      class="custom"
      position="left"
      [maxlength]="20"></ion-input>

<br>

      <ion-input type="password" [(ngModel)]="user.password" name="password"
      aria-label="Custom input"
      placeholder="Senha"
      class="custom"
      position="left"
      [maxlength]="20"></ion-input>


    <ion-button expand="full" type="submit" class="ion-margin-top">Criar Conta</ion-button>
  </form>

  <ion-button expand="full" color="secondary" (click)="registerWithGoogle()">
    <img src="assets/logo/google-logo.png" alt="Google Logo" class="google-logo">
    Registrar com Google
  </ion-button>

  <ion-button (click)="voltarParaHome()">Voltar</ion-button>
</ion-content>
