<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item lines="none">
  <ion-avatar slot="start" (click)="fileInput.click()">
    <img [src]="avatarUrl || 'assets/default-avatar.png'" />
  </ion-avatar>
  <ion-label>Selecione um Avatar</ion-label>
  <input type="file" #fileInput (change)="uploadAvatar($event)" accept="image/*" hidden>
</ion-item>

<ion-content class="ion-padding">
  <form (submit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Criar Conta</ion-button>
  </form>

  <ion-button expand="full" color="secondary" (click)="registerWithGoogle()">
    <img src="assets/logo/google-logo.png" alt="Google Logo" class="google-logo">
    Cadastrar com Google
  </ion-button>

  <ion-button (click)="voltarParaHome()">Voltar</ion-button>
</ion-content>
